.hero-carousel {
    background-image: url(../medias/images/hero2.jpg);
}
.card-description{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
p {
    margin: 0 10% 2rem;
}


.card-img img{
    width: 100%;
    border-radius: 1rem;
}

.location {
    background-color: var(--bg-color-bleu);
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 3rem auto;
}

.card div{
    width: 80%;
    margin: 0 auto;
    border-radius: 1rem;
}

table {
    width: 350px;
    border-collapse: collapse;
    border: 1px solid purple;
    font-weight: bold;
}

td {
    padding: 1rem;
    border: 1px solid purple;
    background-color: #fff;
}


tfoot {
    background-color: var(--bg-color);
}

/* les écrans larges */
@media (min-width: 768px) {
    .tg {
        text-align: center;
    }
}