 :root {
            --bg-color: #D6F0DC;
            --bg-color-yellow: #F7EBA7;
            --bg-color-bleu: #E6F0FC;
            --text-color: #000000;
            --primary-color: #12CC3A;
            --secondary-color: #4163D3;
            --hover-primary-color: #079426;
            --hover-color-secondary: #263E8C;
            --bg-color-card: #CDF0E0;
        }

        [data-theme="dark"] {
            --bg-color: #121212;
            --text-color: #f1f1f1;
        }

        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }
